@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Yellowtail&family=Ysabeau+SC:wght@1..1000&display=swap');

/*// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900

.bodoni-moda-sc-<uniquifier> {
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 1 to 1000

.ysabeau-sc-<uniquifier> {
    font-family: "Ysabeau SC", sans-serif;
    -optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
  */

h2{
    font-family: "Ysabeau SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

h1{
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

p{
    font-family: "Ysabeau SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}