@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Yellowtail&family=Ysabeau+SC:wght@1..1000&display=swap');

/*// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900

.bodoni-moda-sc-<uniquifier> {
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 1 to 1000

.ysabeau-sc-<uniquifier> {
    font-family: "Ysabeau SC", sans-serif;
    -optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
  */

h2{
    font-family: "Ysabeau SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

h1{
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

p{
    font-family: "Ysabeau SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
body {
    background: linear-gradient(to bottom, #0d1b2a, #1b263b, #415a77, #778da9);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 2em;
}

.image {
    display: block;
    margin: 0 auto;
    border: 5px solid #ca81a7;
    border-radius: 10px;
    height: 385px;
    filter: brightness(1.2) contrast(1.4);
    box-shadow: 2px 2px 4px rgba(20, 20, 20, 0.3);
}

.link-button {
    text-decoration: none;
    color: white;
    border: 0.1em solid #333333;
    border-radius: 0.5em;
    background-color: #ca81a7;
    padding: 0.5em 1em;
    box-shadow: 0.2em 0.3em rgba(0, 0, 0, 0.5);
    margin-top: 3em; /* Aumentado margen superior */
    margin-bottom: 2em; /* Aumentado margen inferior para separación */
}
