@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Yellowtail&family=Ysabeau+SC:wght@1..1000&display=swap');

/*// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900

.bodoni-moda-sc-<uniquifier> {
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 1 to 1000

.ysabeau-sc-<uniquifier> {
    font-family: "Ysabeau SC", sans-serif;
    -optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
  */

h2{
    font-family: "Ysabeau SC", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    letter-spacing: 5px;
    text-align: center;
}

h1{
    font-family: "Ysabeau SC", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    letter-spacing: 10px;
    text-align: center;
}

p{
    font-family: "Ysabeau SC", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    text-align: center;
}
body {
    background: linear-gradient(to bottom, #0d1b2a, #1b263b, #415a77, #778da9);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.image {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    height: 385px;
    filter: brightness(1.2), contrast(1.4);
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
}

.link-button {
    display:inline-block;
    margin: 0 auto;
    text-decoration: none;
    color: white;
    border: 1px solid #0f4c75;
    background-color: #3282b8;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.5);
}
